@{
    ViewData["Title"] = "Sentenças";
}

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
        <li class="breadcrumb-item active">Sentenças</li>
    </ol>
}