<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
        <i class="nav-icon icon-speedometer"></i> Dashboard
      </a>
    </li>
    <li class="nav-title">Theme</li>
    <li class="nav-item">
      <a class="nav-link" asp-area="" asp-controller="" asp-action="">
        <i class="nav-icon icon-calendar"></i> Editais
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-area="" asp-controller="" asp-action="">
        <i class="nav-icon icon-star"></i> Favoritos
      </a>
    </li>
  </ul>
</nav>
